default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: oozou-api_development

test:
  <<: *default
  database: oozou-api_test

production:
  <<: *default
  database: oozou-api_production
  username: oozou-api
  password: <%= ENV['OOZOU-API_DATABASE_PASSWORD'] %>
